
*.egg-info/
*.pyc
dist/
build/
PyCharMux/PyCharAcqCore/__pycache__/PyCharAcqCore.cpython-37.pyc
PyCharMux/PyCharAcqCore/__pycache__/PyCharAcqThread.cpython-37.pyc
*.pyc
PyCharMux/PyCharAcqCore/__pycache__/PyCharAcqCore.cpython-37.pyc
PyCharMux/PyCharAcqCore/__pycache__/PyCharAcqThread.cpython-37.pyc
